LOGGER=true
LOGLEVEL=info
SERVICEDIR=services

TRANSPORTER=redis://cafe-redis:6379
REDIS_URL=redis://cafe-redis:6379

MONGO_URL=mongodb://cafe-db/tailchat

SECRET=<secret>
# Here was a .
API_URL=http://cafe.localhost

MINIO_URL=cafe-storage:9000
MINIO_USER=tailchat
MINIO_PASS=com.msgbyte.tailchat

PROMETHEUS=1

ADMIN_USER=tailchat
ADMIN_PASS=<pass>